{;:colors      {:core-automation "#FF5555", :core-automation-verification "#FFAABB", :core-automation-ui "#FFFF00"}
 :encoding    {:y     {:field "task", :type "ordinal"}
               :x     {:field "start", :type "quantitative"}
               :x2    {:field "finish"}
               :color {:bin   true
                       :field :phase
                       :type  "ordinal"}
               }
 :width       1000
 ;:height      300
 :mark        "bar"
 :description "ML automation roadmap"}